@import "../../styles/core";

.sign-modal {
  .modal-header {
    border-bottom: 0;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    .close {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
  }

  .modal-title {
    font-size: 4rem;
  }
}
